<%= form_with model: @student do |form| %>
<div>
<%= form.label :name %>
<%= form.text_field :name %>
</div>
<h1>Add Teachers</h1>
 <%= form.fields_for :student_teachers do |student_teachers_form|  %>
  <div class="field">
    <% Teacher.all.each do |teacher| %>
      <div class="checkbox">
        <%= check_box_tag 'student[student_teachers_attributes][][teacher_id]', teacher.id, @student.teachers.include?(teacher), id: "teacher_#{teacher.id}" %>
        <%= label_tag "teacher_#{teacher.id}", teacher.name %>
      </div>
    <% end %>
  </div> 
<%end%> 
<div>
</div>
<h1>Add Courses</h1>
 <%= form.fields_for :student_courses do |student_courses_form|  %>
  <div class="field">
    <% Course.all.each do |course| %>
      <div class="checkbox">
        <%= check_box_tag 'student[student_courses_attributes][][course_id]', course.id, @student.courses.include?(course), id: "course_#{course.id}" %>
        <%= label_tag "course_#{course.id}", course.name %>
      </div>
    <% end %>
  </div> 
<%end%> 
<div>
<%= form.submit%>
</div>
<%end%>