<h1>Edit Project</h1>

<%= form_with(model: @project,data: {
    controller: 'nested-form', 
    nested_form_wrapper_selector_value: '.nested-form-wrapper' 
}) do |form| %>
<div>
<%= form.label :name %>
<%= form.text_field :name %>
</div>
<%
=begin%>
 <div>
  <template data-nested-form-target="template">
    <%= form.fields_for :bugs, Bug.new, child_index: 'NEW_RECORD' do |bug_fields| %>
      <%= render "projects/bug_form", f: bug_fields %>
    <% end %>
  </template>
   <%= form.fields_for :bugs do |bug_fields| %>
    <%= render "projects/bug_form", f: bug_fields %>
  <% end %>
  <div data-nested-form-target="target"></div>
   <%= link_to 'Add Bug', '#', data: { action: 'nested-form#add' } %>
</div> 
<%
=end%>
<%
=begin%>
 <div data-controller="nested-form" data-nested-form-wrapper-selector-value=".tags-form-wrapper"> 
<%
=end%>
   
 <template data-nested-form-target="template">
      <%= form.fields_for :project_users, ProjectUser.new, child_index: 'NEW_RECORD' do |user_fields| %>
        <%= render 'projects/user_form', f: user_fields %>
      <% end %>
    </template>  

    <%= form.fields_for :project_users do |user_fields| %>
    <%= render "projects/user_form", f: user_fields %>
  <% end %>
    <div data-nested-form-target="target"></div>
    <%= link_to 'Add User (Developer / QA)', '#', data: { action: 'nested-form#add' } %>
 
<div>
<%= form.submit%>
</div>
<%end%>
